@import 'fonts';
@import 'header';
@import 'mobile';
@import 'about';
@import 'detail_about';
@import 'featured';
@import 'service';
@import 'quote';
@import 'portfolio';
@import 'team';
@import 'testimonials';
@import 'blog';
@import  'price';
@import 'subscribe';
@import 'contactUs';
@import 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
h2 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 0;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: lighter;

}
p {
    color: #81868e;
}

.section_title {
    padding: 80px 0;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
}

#up {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 60px;
    color: #19bd9a;
    font-size: 50px;
    cursor: pointer;
}
.row {
    width: 100%;
}