#subscribe {
  background: url('../img/subscribe_bg.jpg') no-repeat center / cover;
  color: #fff;
  padding-bottom: 80px;
  .subscribe_input {
    text-align: center;
    input {
      background-color: transparent;
      border: 1px solid rgba(0, 165, 140, 0.9);
      color: #fff;
      outline: none;
      padding: 8px;
      width: 35em;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 10px 50px;
      background-color: rgba(0, 165, 140, 0.9);
      margin: 10px;
    }
  }
}